@model InventoryManagementCore.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>User Registration</h1>
<hr style="border: 2px solid #007bff;"/>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" style="border:1px solid black; width:32%;"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" style="border:1px solid black; width:32%;"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" style="border:1px solid black; width:32%;"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary" style="width: 14%;">Register</button>
        </form>
    </div>
</div>
<br />
@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
