@model InventoryManagementCore.Models.Models.Bill

@{
    ViewData["Title"] = "Create";
}



@*<h1>Create Bill</h1>
<hr style="border: 3px solid #28a745;" />
<br />*@

<link href="~/css/addBill.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="~/js/Bill/search.js"></script>
<script src="~/js/Bill/handleData.js"></script>

<div id="errors" style="display: none"></div>
<div class="product-quantity product-selling-price"></div>
<div class="col mb-4">
    <div class="row-4">
        <div class="row">
            <div class="col-6  add-bill-upper-section add-bill-border-container">
                <div class="add-bill-search-customer">
                    @*<input class="form-control search-customer me-2 add-bill-search" style="display: inline; width: 92%" type="search" placeholder="Search Customers here" aria-label="Search">*@
                    <div class="col-6">
                        <input class="search-customer" id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search Customers" value="" style="width: 200%; margin-left: -39%;" />
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                             width="24" height="24"
                             viewBox="0 0 172 172"
                             style=" fill:#000000; display: inline; margin-top: -30%; margin-left: 140%;">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g fill="#000000">
                                    <path d="M64.5,14.33333c-27.6214,0 -50.16667,22.54527 -50.16667,50.16667c0,27.6214 22.54527,50.16667 50.16667,50.16667c12.52732,0 23.97256,-4.67249 32.7819,-12.31771l3.05143,3.05143v9.26628l43,43l14.33333,-14.33333l-43,-43h-9.26628l-3.05143,-3.05143c7.64521,-8.80934 12.31771,-20.25458 12.31771,-32.7819c0,-27.6214 -22.54527,-50.16667 -50.16667,-50.16667zM64.5,28.66667c19.87509,0 35.83333,15.95824 35.83333,35.83333c0,19.87509 -15.95825,35.83333 -35.83333,35.83333c-19.87509,0 -35.83333,-15.95825 -35.83333,-35.83333c0,-19.87509 15.95824,-35.83333 35.83333,-35.83333z">
                                    </path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <a asp-action="Create" asp-controller="Customer">
                        <button class="btn btn-success btn-add-product" style="display: inline; margin-top: 23%; margin-left: 200%;" data-toggle="tooltip" data-placement="top" title="Add New Customer">+</button>
                    </a>
                </div>
                <div class="add-bill-customer-overflow mt-3">
                    <ul class="list-group search-customers-list">
                        @{
                            foreach (var cust in ViewBag.CustomerDetails)
                            {
                                <li class="list-group-item">
                                    <p style="display:inline">@cust.CustomerName</p>
                                    <span class="float-right">
                                        <button id="@cust.CustomerId" class="select-customer btn btn-sm btn-primary">Select</button>
                                    </span>
                                </li>

                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="col-1">
                <p class="vertical_line"></p>
            </div>
            @*<hr style="width:0; height: 100%; border: 1px solid black;"/>*@
            <div class="col-5 add-bill-upper-section add-bill-border-container">
                @*<div class="">
                        <input class="form-control search-products me-2 add-bill-search" type="search" placeholder="Search Products here" id="products-search" aria-label="Search">
                    </div>*@
                <div class="col-6">
                    <input class="search-products" id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search Products" value="" style="width: 231%; margin-left: -8%;" />
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         width="24" height="24"
                         viewBox="0 0 172 172"
                         style=" fill:#000000; display: inline; margin-top: -38%; margin-left: 196%;">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g fill="#000000">
                                <path d="M64.5,14.33333c-27.6214,0 -50.16667,22.54527 -50.16667,50.16667c0,27.6214 22.54527,50.16667 50.16667,50.16667c12.52732,0 23.97256,-4.67249 32.7819,-12.31771l3.05143,3.05143v9.26628l43,43l14.33333,-14.33333l-43,-43h-9.26628l-3.05143,-3.05143c7.64521,-8.80934 12.31771,-20.25458 12.31771,-32.7819c0,-27.6214 -22.54527,-50.16667 -50.16667,-50.16667zM64.5,28.66667c19.87509,0 35.83333,15.95824 35.83333,35.83333c0,19.87509 -15.95825,35.83333 -35.83333,35.83333c-19.87509,0 -35.83333,-15.95825 -35.83333,-35.83333c0,-19.87509 15.95824,-35.83333 35.83333,-35.83333z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="">
                    <div class="add-bill-customer-overflow mt-3">
                        <ul class="list-group search-products-list">

                            @{
                                foreach (var product in ViewBag.ProductDetails)
                                {
                                    <li class="list-group-item">
                                        <p style="display:inline">@product.ProductName</p>
                                        <span class="float-right">
                                            <button id="@product.ProductId" class="select-product btn btn-sm btn-primary">Select</button>
                                        </span>
                                    </li>

                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <hr style="border: 3px solid #28a745; width: 100%;" />
    </div>
    <div class="row ">
        <div class="col-12 add-bill-border-container">
            <div class="row">
                <div id="cust-id" style="display:none">-1</div>
                <div class="col-9">
                    <p class="mt-1">
                        <b>Customer Name:</b>
                        <span id="cust-name"></span>
                    </p>
                </div>
                <div class="col-3">
                    <p class="mt-1">
                        <b>Phone No:</b>
                        <span id="cust-phone-no"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <p class="mt-1">
                        <b>Address:</b>
                        <span id="cust-address"></span>
                    </p>
                </div>
                <div class="col-3">
                    <p class="mt-1">
                        <b>Net Outstanding:</b>
                        <span id="cust-net-outstanding"></span>
                    </p>
                </div>


            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="display: none">Sr. No</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Selling Price</th>
                        <th scope="col">Total</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody id="product-items">
                </tbody>
                <tfoot>
                    <tr>

                        <td><b>Total Quatity:</b></td>
                        <td id="finalQty">0</td>
                        <td><b>Total Price:</b></td>
                        <td id="finalTotal">0</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div style="display: flex; justify-content: space-evenly">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm" style="height: 101%; border: 1px solid black"><b>Total Paid</b></span>
                                    </div>
                                    <input type="number" min="0" id="totalPaid" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" style="height: 132%; border: 1px solid black;">
                                </div>
                            </div>
                        </td>
                        <td colspan="3">
                            <div style="display: flex; justify-content: space-evenly">
                                <button onclick="handleMakeBill()" class="btn btn-success" style="width: 40%; height: 132%;">Make Bill</button>
                            </div>
                        </td>

                    </tr>

                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <hr style="border: 3px solid green; width: 100%;" />
    </div>
</div>


